
= link_to image_tag("fb-login.png"), '#', onclick: "fblogin(); return false;", class: "facebook-login"

= simple_form_for :session, url: sessions_path do |form|
  .form-group
    = form.input :email, label: false, as: :email, placeholder: "Email", input_html: {class: 'form-control', value: params[:email] || params[:session].try(:[], :email)}
  .form-group
    = form.input :password, label: false, as: :password, placeholder: "Password", input_html: {class: 'form-control'}
  .form-group
    = form.submit 'Login', class: "btn btn-brand btn-block"
