.signup-page
  = simple_form_for @user, remote: true,html: { class: (@user.errors.empty? ? 'signup-form-with-icon' : 'has-error') } do |form|
    = form.input :name, label: false, placeholder: 'Full Name (as per ID)', input_html: { class: "form-control" }, wrapper_html: { class: 'form-group form-group-name' }
    = form.input :email, label: false, placeholder: 'Email', input_html: { class: "form-control" }, wrapper_html: { class: 'form-group form-group-name' }
    = form.input :password, label: false, placeholder: 'Password', input_html: { class: "form-control" }, wrapper_html: { class: 'form-group form-group-password' }
    = form.submit 'Sign up', class: "btn btn-pink btn-block"
