.row
  .col-lg-12.col-md-12.nopadmobile
    ul.list-unstyled.row
      - @channel_presenters.each do |channel|
        li.col-md-4.col-sm-12.channel-each-card data-channel-name=channel.channel_title data-channel-number=channel.channel_number data-channel-id=channel.channel_id
          img.center src=channel.channel_pos_logo_small
          .card-details
            .content
              p = channel.channel_title
              p = channel.channel_number
            .fave-button
              = link_to user_favorite_channels_path(channel_id: channel.channel_id), remote: true, method: :post do
                = render 'fave', channel_id: channel.channel_id
