- channel_event_groups.each do |key, events|
  .grid
    - events.each_with_index do |event, index|
      - if index.zero?
        .grid-channel
          .content
            p = event.channel_title
            p = event.channel_number
          .fave-button
            = link_to user_favorite_channels_path(channel_id: channel.channel_id), remote: true, method: :post do
              = render 'fave', channel_id: channel.channel_id
        .grid-cell
          .title = event.programme_title
          span = event.display_time
      - else
        .grid-cell
          .title = event.programme_title
          span = event.display_time
