#channel-container.container-fluid
  = link_to "Sort by Channel Name", root_path(order_by: "channelTitle"), id: "sort-by-channel-name"
  = link_to "Sort by Channel Number", root_path(order_by: "channelStbNumber"), id: "sort-by-channel-number"

  #channel-list data-user-faved-list=@user_faved_list
    = render 'channels'
