#channel-list data-user-faved-list=@user_faved_list
.section
  .load-more-container data-page=0
    = render "channel_event_group", channel_event_groups: @channel_event_groups

.section.section-loading
  img src="#{asset_path('ring.svg')}"
  span.meta = "Loading more..."
