// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.sessions.new {
  padding-top: 50px;
  background: #ECF2F6;
  .facebook-login {
    img {
      width: 200px;
    }
  }
}
