// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.users.new {
  padding-top: 50px;
  background: #ECF2F6;
}
