// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.welcome.index {
  padding-top: 50px;
  background: #ECF2F6;
  #sort-by-channel-name {
    padding-right: 10px;
  }
  #channel-container {
  }
  .channel-each-card {
    background: #ECF2F6;
    min-height: 135px;
    padding: 10px;
    position: relative;
    z-index: 10;

    img.center {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .card-details {
      .content {
        float: left;
        margin-left: 50px;
      }
      .fave-button{
        float: right;
        margin-right: 50px;
      }
    }
  }

  .channel-each-card:after {
    background-color: #FFF;
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  }
}
body.welcome.tv_guide {
  padding: 55px 10px 0 10px;
  .grid {
    display: flex;
    &:last-child {
      border-bottom: black 1px solid;
    }
  }
  .grid-channel {
    border: black 1px solid;
    border-right: none;
    border-bottom: none;
    width: 10%;
    max-width: 10%;
    padding: 0 10px;
  }

  .grid-cell {
    border: black 1px solid;
    border-right: none;
    border-bottom: none;
    flex: 1;
    padding: 0 10px;
    &:last-child {
      border-right: black 1px solid;
    }
    &:nth-child(2n) {
      background: aliceblue;
    }
    span {
      font-weight: 300;
    }
  }
}
