.navbar.navbar-default.navbar-fixed-top.pad-bottom-50
  .container
    ul.nav.navbar-nav.navbar-left
      li = link_to "Channel List", root_path
      li = link_to "TV Guide", tv_guide_path
    ul.nav.navbar-nav.navbar-right
      - if current_user
        li = link_to "hi #{current_user.name}", root_path
        li = link_to "Log out", session_path(1), method: :delete
      - else
        li = link_to "Sign Up", new_user_path
        li = link_to "Login", new_session_path
