doctype html
html
  head
  meta name="title" content="Astro Clone"
  title Astro Clone
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  body class="#{body_class}" data-turbolinks="false"
    = render 'header'
    - [:alert, :notice].each do |type|
      = content_tag(:div, flash[type], class: "alert alert-#{type}") if flash[type].present?
    = yield
